# OS
.DS_Store
Thumbs.db

# Logs/Temp
*.log
*.tmp

# Arduino / Build
build/
*.hex
*.elf
*.bin
.pio/
.vscode/.browse.VC.db

# MATLAB
*.asv
*.mex*
*.autosave
*.slxc
slprj/
sccprj/
*.mltbx
matlab_crash_dump.*
*.mat
.matlab/
